[backup]
type = s3
provider = {{ backup_provider }}
access_key_id = {{ backup_access_key_id }}
secret_access_key = {{ backup_secret_access_key }}
endpoint = {{ backup_endpoint }}
acl = private

[secret]
type = crypt
remote = backup:
filename_encryption = off
directory_name_encryption = false
password = {{ backup_encryption_password1 }}
password2 = {{ backup_encryption_password2 }}
